name: Deploy FastAPI App

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.HOST_NAME }}
        username: ${{secrets.USER}}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          sudo pkill -f uvicorn || true
          rm -rf Python-WebApplication || true
          git clone https://github.com/${{ github.repository }}.git
          cd Python-WebApplication
          pip3 install -r requirements.txt
          nohup uvicorn main:app --host 0.0.0.0 --port 8000 &
