name: Terraform + FastAPI Deployment

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  terraform:
    name: Provision Infrastructure
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Apply
        working-directory: terraform
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
        run: terraform apply -auto-approve

  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST_NAME }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script_stop: false
          script: |
            set -e

            APP_DIR=$HOME/Python-WebApplication
            PYTHON=python3

            echo "Stopping old app..."
            sudo fuser -k 8000/tcp || echo "No existing app running"

            echo "Updating code..."
            rm -rf "$APP_DIR"
            git clone https://github.com/brajeshkumarDeveloper/Python-WebApplication.git "$APP_DIR"
            cd "$APP_DIR"

            echo "Ensuring venv support..."
            sudo apt update -y
            sudo apt install -y python3-venv

            echo "Creating virtual environment..."
            $PYTHON -m venv venv
            source venv/bin/activate

            echo "Installing dependencies..."
            pip install --upgrade pip
            pip install -r requirements.txt

            echo "Starting FastAPI app..."
            nohup venv/bin/uvicorn main:app \
              --host 0.0.0.0 \
              --port 8000 \
              > app.log 2>&1 &

            echo "Deployment finished"
